/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.tagline {
  color: #999;
  font-style: italic;
  float: right;
}

.right {
  float: right;
}

.cold-1 { background-color: #00FFFF; }
.cold-2 { background-color: #00CCFF; }
.cold-3 { background-color: #0066FF; }
.cold-4 { background-color: #0000FF; }